// Main colors:
$background: #25282C;
$background2: #1D1F22;
$background3: #171719;
$background4: #141618;
$background5: #111518; // borders; backgroundLayer...

// Layout colors:
$headerBackground: $background2;
$toolsBarBackground: $background;
$sidenavToolsBackground: $background;
$sidenavLeftBackground: $background5;
$sidenavRightBackground: $background5;
$workspaceBackground: $background3;
$footerBackground: $background2;

.mainViewport {
  .header {
    background-color: $headerBackground;
    border-bottom: 1px solid $background5;
    overflow: visible;
  }

  .tools__bar {
    background-color: $toolsBarBackground;
    border-bottom: 1px solid $background5;
  }

  .sidenav {
    &.sidenav__tools {
      background-color: $sidenavToolsBackground;
      border-bottom: 1px solid $background5;
    }

    &.sidenav__left {
      background-color: $sidenavLeftBackground;
      border-right: 1px solid $background5;
    }

    &.sidenav__right {
      background-color: $sidenavRightBackground;
      border-left: 1px solid $background5;
    }
  }


  .workspace {
    background-color: $workspaceBackground;
    color: #fff;
  }

  .footer {
    background-color: $footerBackground;
    border-top: 1px solid $background5;
  }
}

.spaces-resize-handle {
  background-color: #242A2B;
  //background: url(styles/images/bg-hash.svg) 0 0;
}

.header {
  .ui.menu {
    background: transparent;

    .item {
      padding: 0 20px;
    }
  }

  .ui.menu .dropdown.item {
    color: #fff;

    .menu {
      min-width: 240px;
      z-index: 99999;
    }
  }
}

.sidenav__tools {
  .menu {
    background: transparent;
    color: #fff;
  }
}

.footer {
  color: #fff;
}

.canvas__area {
  position: relative;

  .editor__canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
